# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env

# Logs
logs/
*.log
logs/*.log

# Coverage Reports
coverage/

# Jest Cache
jest/
jest-config.json

# Hidden Files and Directories
*.swp
*.swo

# OS-Specific Files
.DS_Store
Thumbs.db

# IDE Specific
.vscode/
.idea/
*.iml

# GitHub Actions
!.github/workflows/
